@import "../../public/components/leaflet/dist/leaflet";
@import "../../public/components/leaflet.locatecontrol/dist/L.Control.Locate.min";
html, body {
 height: 100%;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #E7E7E5 !important;
}

#map {
	width: 100%;
	height: 100%;
}
